.list {
    margin-bottom: 10px;
    &__add-button {
        svg {
            path {
                stroke: #868686;
            }
        }
        :hover{
            color: black;
        }
    }

    li {
        display: flex;
        align-items: center;
        padding: 10px 12px;
        cursor: pointer;

        &.active {
            background: #ffff;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
            border-radius: 4px;
        }
        span{
            color: #767676;
        }

        i {
            display: inline-flex;
            margin-right: 8px;
        }
    }
}