.list {
    $self: &;
    margin-bottom: 10px;

    &__add-button {
        svg {
            path {
                stroke: #868686;
            }
        }

        :hover {
            color: black;
        }
    }

    &__remove-icon{
        opacity: 0;
    }
    
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 12px;
        border-radius: 5px;
        cursor: pointer;
        .list__remove-icon:hover{
            opacity: 1;
        }

        &:hover #{$self}__remove-icon{
            opacity: 1;
        }

        &:hover {
            background-color: #FFFFFF;
        }


        &.active {
            background: #ffff;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
            border-radius: 4px;
        }

        span {
            color: #767676;
        }

        i {
            display: inline-flex;
            margin-right: 8px;
        }


    }
}